<p><%#= @question.title %></p>
<p><%#= @question.body%></p>

<div>
  <%= form_with model: [@question, @answer], method: :post do |f| %>
  <div>
    <%= f.label :comment, "回答" %>
    <%= f.text_area :comment %>
  </div>
    <%= f.submit %>
  <% end %>
</div>

<hr>
<div>
  <%= @question.answers.each do |answer| %>
  <p><%= answer.comment %></p>
  <% end %>
</div>